@use '../../util/styles/global' as g;
.dashboard-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;

    span{
        color: g.$light-blue;
    }

    p{
        font-size: 20px;
        font-weight: 500;
    }
}

.info{
    width: 60%;
    margin: 24px 0;
    line-height: 24px;

    @media screen and (max-width: 769px){
        width: 100%;
    }
}

.skeleton-board{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-appointments{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 4rem;

    *{
        color: g.$light-blue;
    }

    p{
        margin: 12px 0;
    }

    img{
        width: 40%;
        height: 30%;
    }

    .link{
        display: flex;
        align-items: center;
        gap: 5px;
        text-decoration: underline;
    }
}