@use '../../util/styles/global' as g;

.profile-container{
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 3rem;
}

.opts-container{
    width: 10rem;
}

.profile-options{
    padding-bottom: 0.75rem;
    border-bottom: 1px solid rgba($color: #000, $alpha: 0.2);
    li{
        display: flex;
        align-items: center;
        column-gap: 8px;
        margin: 5px 0;
        padding: 0.25rem 0.5rem 0.25rem;
        cursor: pointer;

        &:hover{
            background-color: rgba($color: g.$light-blue, $alpha: 0.2);
        }
    }
}

.form{
    @include g.form;

    .inline{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }

    .update-btn{
        @include g.btn;
        padding: 16px 32px;
        background-color: g.$light-blue;
        color: #fff;
        cursor: pointer;

        @media screen and (max-width: 400px) {
            width: 100%;
        }
    }
}


.delete-warning{
    margin-top: 1rem;
    padding: 1rem 0;
    border-top: 1px solid rgba($color: #000, $alpha: 0.2);

    button{
        @include g.btn;
        background: none;
        border: 1px solid rgb(255, 42, 42);
        color: rgb(255, 42, 42);
        padding: 12px 28px;
        cursor: pointer;
    }
}