@use '../../util/styles/global' as g;

.authContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -4rem;
    height: 100vh;
    
    @media screen and (max-width: 780px) {
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: column;
        margin: 0;
        height: auto;
    }
}

.imageContainer, .formContainer{
    @media screen and (min-width: 780px) {
        flex-grow:1;
        flex-basis: 0;
    }
    
}


.imageContainer{
    height: 100%;

    @media screen and (max-width: 780px) {
        height: auto;
        margin-bottom: auto;
    }

    .returnHome{
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 1rem;
        color: #000;
        height: 44px;
        padding: 0 5px;
        width: 11rem;
        border-radius: 6px;

        &:hover{
            background-color: rgb(255, 255, 255, 0.4);
        }
    } 
}

.signupImage{
    background: url('../../assets/images/signUp.webp') no-repeat;
    background-size: cover;

    @media screen and (max-width: 780px) {
        background: none;
    }
}

.formContainer{
    padding: 0 4rem;
    @media screen and (max-width: 780px) {
        padding: 0;
        width: 60%;
    }

    @media screen and (max-width: 580px) {
        width: 100%;
    }
}

.formHeader{
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 120%;

    @media screen and (min-width:801px) and (max-width:1000px) {
        font-size: 2.8rem;
    }

    @media screen and (max-width:800px) {
       font-size: 36px;
    }

}

.error{
    color: rgb(255, 42, 42);
}

.formDesc {
    font-size: 18px;
    font-weight: 100;
    line-height: 160%;
    margin: 0.5rem 0;
    width: 80%;

    @media screen and (max-width:850px) {
        font-size: 18px;
        line-height: 140%;
        width: 100%;
    }
}

.form{
    @include g.form;

    margin: 3rem 0 0;

    .passwordCheck{
        font-weight: 100;
        font-size: 12px;
        width: 80%;
    }

    
    
    .name{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        width: 100%;

        @media screen and (max-width: 780px) {
            width: 100%;
        }
    
    }
}

.modal{
    margin: 0 0 12px 0;
    p{
        margin: 8px 0;
    }

    div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        span{
            color: #fff;
        }
    }
}


.agreement{
    p{
        width: 80%;
        font-size: 16px;
        font-weight: 100;
        line-height: 160%;
        margin: 0.75rem 0;
    }

    a{
        color: #3d71e3;;
    }
}

.button{
    height: 44px;
    width: 100%;
    color: #fff;
    background-color: g.$light-blue;
    @include g.btn;

    @media screen and (max-width: 780px) {
        width: 100%;
    }
}


.ref{
    color: #3d71e3;

    &:hover{
        text-decoration: underline;
    }
}

.signUpOption{
    font-size: 16px;
    font-weight: 100;
    line-height: 160%;
    margin: 0.75rem 0;
}



