@use '../../util/styles/global' as g;
.appointments-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
    padding: 1rem 0;

    @media screen and (max-width: 520px) {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    @media screen and (max-width: 420px) {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

.appointments-container{
    margin: 18px 0;

    h2{
        font-weight: 500;
        color: g.$light-blue;
    }

    .empty-appointment{
        color: g.$light-blue;
        background-color: #EAF4FF;
        text-align: center;
        padding: 12px 5px;
        border-radius: 6px;
    }
}

.appointment-card{
    border: 1px solid #979DAC;
    border-radius: 8px;
    padding: 1rem;
    cursor: pointer;

    h3{
        padding: 12px 0;
        border-bottom: 1px solid #979DAC;
    }

    p{
        margin-top: 8px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .reason{
        color: #979DAC;
        margin: 12px 0;
    }

    .status{
        margin: 10px 0 0 0;
    }


}

.appointment-date{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.appointment-modal{
    .mantine-Modal-title{
        color: g.$light-blue;
        font-weight: 900;
    }

    .mantine-Modal-modal{
        margin-left: 0;
    }

    p{
        margin: 12px 0;
        line-height: 20px;
    }
    span{
        font-weight: 500;
        margin-right: 8px;
    }

    .btns{
        display: flex;
        gap: 1rem;
    }

    a{
        text-decoration: underline;
    }
}