$light-blue: #0466C8;
$dark-blue: #0353A4;
$red: rgb(255, 42, 42);

@mixin btn{
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    border: none;
    margin: 1.5rem 0 0;
}

@mixin form{
    margin: 1rem 0 0;

    div{
        margin: 1.2rem 0 0;
    }

    input, select, textarea{
        display: block;
        height: 44px;
        width: 80%;
        border: 1px solid rgb(0, 0, 0, 0.2);
        border-radius: 6px;
        padding: 10px;
        margin: 5px 0;
        font-size: 16px;
        font-weight: 200;
    }

    label{
        font-weight: 300;
    }


    p{
        font-size: 14px;
        color: rgb(255, 42, 42);
    }
}